==
<div data-app="catalogitemListFilters" data-filters="{{ catalogitemList.getAllowedFiltersSlugMap() }}">
    {% for filter in catalogitemList.getAllFilters() %}
        <div class="form-group">
            <label for="catalogitem_filter_{{ filter.slug }}">{{ filter.name }}</label>
            <select class="form-control"
                    id="catalogitem_filter_{{ filter.slug }}"
                    @change="onFilterChange('{{ filter.slug }}', $event.target.value)"
                    :value="filterValues['{{ filter.slug }}']"
            >
                <option value="">Select {{ filter.name | lower }}</option>
                {% for option in filter.filteroptions.sortBy('sort_order') %}
                    <option value="{{ option.slug }}"
                            {{ catalogitemList.isFilterOptionSelected(option.id) ? 'selected' : '' }}
                    >{{ option.name }}</option>
                {% endfor %}
            </select>
        </div>
    {% endfor %}
    <button type="button"
            class="btn btn-primary"
            @click="resetFilters"
            >Reset</button>
</div>
