==
<div data-app="productList"
     data-filtered-count="{{ productList.getFilteredCount() }}"
     data-per-page="{{ productList.perPage }}"
>
    <div v-text="'numLoadedPages: '+numLoadedPages">numLoadedPages:</div>
    <div v-text="'filteredCount: '+filteredCount">filteredCount:</div>
</div>
<div id="product_list_items" class="row row-cols-4 flex-wrap">
    {% partial 'product-list/product-list-items' %}
</div>
<div data-app>
    <b-overlay :show="app.productList.isLoading" no-wrap no-center>
        <template v-slot:overlay>
            <div class="overlay-spinner">
                <b-spinner></b-spinner>
            </div>
        </template>
    </b-overlay>
</div>
<div data-app>
    <button type="button"
            class="btn btn-primary"
            @click="app.productList.loadNextPage()"
            v-show="app.productList.filteredCount > app.productList.numLoadedPages * app.productList.perPage"
    >Show more
    </button>
</div>
