==
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <div class="col-3">
            <div data-app>
                {% partial 'header/header-logo' %}
                <b-overlay :show="app.mainLoadIndicator.loading" no-wrap></b-overlay>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header_navbar"
                    aria-controls="header_navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-7">
            <div class="collapse navbar-collapse d-flex flex-column" id="header_navbar">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <ul class="navbar-nav mr-auto flex-grow-1">
                    {% for item in headerMenu1() %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ item.url }}"
                               data-ajax-link
                            >{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="header_mini_cart" class="col-2">
            {% partial 'header/header-mini-cart' %}
        </div>
    </div>
</nav>
<div class="container d-flex menu-secondary">
{#    <ul class="d-flex">#}
        {% for item in headerMenu2() %}
{#            <li class="nav-item">#}
                <a class="nav-link"
                   href="{{ item.url }}"
                   data-ajax-link
                >{{ item.title }}</a>
{#            </li>#}
        {% endfor %}
{#    </ul>#}
</div>
